{% extends 'base.html' %}

{% block title %}Artist Intro{% endblock %}
{% block link %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
{% endblock %}
{% block content %}
<div class="Artist_intro">
    <div class="Artist_intro_content">
        <h1 id="AH_intro">Discover Artist</h1>
        <p id="AP_intro">Introduce the artist/brand of the artist.</p>
    </div>
</div>
<div class="about_artist">
    <div class="about_artist_content col-2-3">
        <h1 id="about_h">About Artist</h1>
        <p id="about_p">The Artist, a passionate musician hailing from [Locale], is on a mission to use the power of music to inspire positive change in his community and beyond. Through his soulful melodies and impactful lyrics, he aims to address social issues, spread awareness, and foster unity.</p>
        <p id="about_p col-1-3">Join The Artist on his journey as he strives to make a difference through his music, advocating for equality, justice, and love.</p>
    </div>
    <div class="about_pic">
        <img src="{{url_for('static' ,filename='arttist.jpg')}}">
    </div>
</div>
{% endblock %}
