<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='header.css') }}">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='footer.css') }}">
	<title>HOME</title>
</head>
<body>
<header>
	<div class = 'header_div'>
	<h1>The Artist</h1>
	</div>
	<div class = 'header_links'>
		<a href="#">Home</a>
		<a href="#">Music</a>
		<a href="#">Videos</a>
		<a href="#">Merch</a>
		<a href="#">Tour</a>
	</div>
</header>

</body>
</html>